@charset "utf-8";
:root{
    --color: #000;
    --size: 20px;
    --pad: 5%;
}


body{
    padding-left: var(--pad);
    padding-right: var(--pad);
    background-color: var(--color);
}

#Main{
    background-color: rgb(255, 255, 255);
}

#vid-bar{
    height:fit-content;
}
#play-button{
    position:relative;
    height:var(--size);
    float:left;
    width:var(--size);
}
#play{
    position:absolute;
    height: calc(var(--size) * .75);
    width: auto;
    left:calc(var(--size)/10);
    top:calc(var(--size)/15);
}

#bar{
    height:
    var(--size);
    background-color:  #444;
    border-radius: 100px;
    position:relative;
    float:left;
    width:auto;
}

#progress{
    position:relative;
    height: 100%;
    background-color: darkblue;
    border-radius: 100px;
    width:0%;

}

#scrubber{
    height: calc(var(--size) * 1.2);
    width: calc(var(--size) * 1.2);
    position: absolute;
    background-color: #ddd;
    top: calc(-1 * calc(.1 * var(--size)));
    border-radius: 100px;
}